// Change the file name to terraform.tfvars

region             = "us-east-1"
project_name       = "vibeIQ-take-home-3d-model-loader-poc"
environment        = "prod"
api_stage_name     = "v1"
model_s3_bucket = "name-of-your-s3-bucket-where-the-model-files-are-kept"
api_key_value = "generate-a-secret-and-add-here"
allowed_origins = [
  "http://localhost:0000"
]
blender_ecr_image = "find-your-ecr-image-on-your-aws-account-or-build-and-push-a-blender-image"